@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Emilys Candy', cursive;
font-family: 'Roboto', sans-serif;
*/
header {
  background-color: #F2A7D0;
  width: 100%;
  height: 5.625rem;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav h1 {
  font-family: "Emilys Candy", cursive;
  font-size: 2.5rem;
  padding-top: 1.25rem;
  padding-right: 27.375rem;
  margin: 0rem;
}
header nav h1 a {
  text-decoration: none;
  color: #3c3040;
}
header nav ul {
  padding: 0rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 2.125rem;
  line-height: normal;
}
header nav ul li {
  display: inline;
  margin-left: 2.1875rem;
  margin-right: 2.1875rem;
}
header nav ul li a {
  text-decoration: none;
  color: #3c3040;
}
header nav ul li a:hover {
  color: #b290df;
  cursor: pointer;
}

@media (max-width: 1346px) {
  header nav h1 {
    padding-right: 5.875rem;
  }
  header nav ul li {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
  }
}
@media (max-width: 922px) {
  header {
    height: 10.1875rem;
  }
  header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  header nav h1 {
    padding-right: 0rem;
  }
}
@media (max-width: 630px) {
  header {
    height: 12.375rem;
  }
  header nav h1 {
    font-size: 1.5625rem;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    margin-top: 1.25rem;
    font-size: 0.875rem;
  }
}
div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: 4rem;
}
div section {
  margin: 10.5rem 0rem 10.5rem;
}
div section div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: 0;
}
div section div h4 {
  color: #3c3040;
  background-color: #F2C9D4;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  width: 11.25rem;
  height: 3.75rem;
  padding-top: 0.75rem;
  text-align: center;
  border-radius: 0.625rem;
}
div section div h2 {
  color: #3c3040;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  width: 35rem;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
div section .buttonsIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: 4rem;
}
div section .buttonsIndex button {
  width: 18.125rem;
  height: 5.25rem;
  border-radius: 1rem;
  background-color: #C09AD9;
  border-color: #C09AD9;
}
div section .buttonsIndex button:hover {
  background-color: #b290df;
  box-shadow: 0px 0px 40px #77607f;
  cursor: pointer;
}
div section .buttonsIndex button a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: #3c3040;
}
div section .buttonsIndex .indexButtonTwo {
  background-color: white;
  border-style: 0.3125rem;
}
div .photoMagali {
  padding: 2.625rem 0rem 2.625rem 0rem;
}
div .photoMagali img {
  width: 34.875rem;
  height: 43.75rem;
}

.sectionOneAbout {
  font-family: "Roboto", sans-serif;
  color: #3c3040;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 9.375rem;
  padding-top: 3.125rem;
}
.sectionOneAbout div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 41.25rem;
}
.sectionOneAbout div .aboutMe h3 {
  font-size: 1.25rem;
  font-weight: 400;
}
.sectionOneAbout div .aboutMe h2 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 26.25rem;
  text-align: center;
}
.sectionOneAbout div .aboutMe h4 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.sectionOneAbout div .aboutMe p {
  font-size: 1.25rem;
  font-weight: 400;
}
.sectionOneAbout div button {
  width: 20.0625rem;
  height: 5.25rem;
  background: #C09AD9;
  border-color: #C09AD9;
  border-radius: 1rem;
  margin-top: 0.9375rem;
}
.sectionOneAbout div button:hover {
  background-color: #b290df;
  box-shadow: 0px 0px 40px #77607f;
  cursor: pointer;
}
.sectionOneAbout div button a {
  font-family: "Roboto", sans-serif;
  color: #3c3040;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

.designSkills {
  font-family: "Roboto", sans-serif;
  color: #3c3040;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 7.125rem;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
.designSkills .textSkills {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: 0;
}
.designSkills .textSkills h2 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 20.625rem;
  padding-bottom: 1.875rem;
}
.designSkills .textSkills .followMeHere {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
}
.designSkills .textSkills .followMeHere h3 {
  font-size: 1.5rem;
  padding-top: 2.5rem;
}
.designSkills .textSkills .followMeHere .socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.designSkills .textSkills .followMeHere .socialMedia a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}
.designSkills .textSkills .followMeHere .socialMedia a:hover {
  color: #b290df;
  cursor: pointer;
}
.designSkills .cardsSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: 2.5rem;
}
.designSkills .cardsSkills .cardsOneTwo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  gap: 1.5625rem;
}
.designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  gap: 1.875rem;
  gap: 1.875rem;
  background-color: #ffffff;
  width: 16.1875rem;
  height: 13.6875rem;
  box-shadow: 0px 0px 2.5rem #D2D5EC;
}
.designSkills .cardsSkills .cardsOneTwo img {
  height: 5rem;
  width: 5rem;
}
.designSkills .cardsSkills .cardsOneTwo h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.designSkills .cardsSkills .cardsOneTwo .cardB {
  background-color: #F2C9D4;
}
.designSkills .cardsSkills .cardsOneTwo .cardB h3 {
  width: 12.5rem;
}

.sectionOneCert, .textContact, .myWorksSection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  font-family: "Roboto", sans-serif;
  color: #3c3040;
  margin-top: 3.125rem;
  text-align: center;
}
.sectionOneCert h2, .textContact h2, .myWorksSection h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
.sectionOneCert h1, .textContact h1, .myWorksSection h1 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 26.25rem;
}
.sectionOneCert p, .textContact p, .myWorksSection p {
  font-size: 1.25rem;
  font-weight: 400;
  width: 37.5rem;
}

.carousel {
  margin: 3.125rem 1.25rem 3.125rem 1.25rem;
}
.carousel div {
  justify-content: flex-start;
  gap: 0rem;
}
.carousel div div {
  align-items: center;
}
.carousel div div div .cards-wrapper {
  display: flex;
  justify-content: center;
}
.carousel div div div .cards-wrapper .card {
  height: auto;
  gap: 0rem;
  width: 33.3333333333%;
  margin: 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 1.25rem;
  background-color: #F2C9D4;
}
.carousel div div div .cards-wrapper .card img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 1.25rem;
}
.carousel div div div .cards-wrapper .card .card-body {
  display: flex;
  flex-direction: column;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #ff008c;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-2 {
  margin: 3.125rem 1.25rem 3.125rem 1.25rem;
}
.carousel-2 div {
  justify-content: flex-start;
}
.carousel-2 div .carousel-inner {
  align-items: center;
}
.carousel-2 div .carousel-inner .carousel-item .cards-wrapper {
  display: flex;
  flex-direction: column;
}
.carousel-2 div .carousel-inner .carousel-item .cards-wrapper .card {
  height: auto;
  gap: 0rem;
  width: 75%;
  margin: 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 1.25rem;
  background-color: #F2C9D4;
}
.carousel-2 div .carousel-inner .carousel-item .cards-wrapper .card img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 1.25rem;
}
.carousel-2 div .carousel-inner .carousel-item .cards-wrapper .card .card-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .carousel-control-prev {
    top: 36.6875rem;
    left: 1.5rem;
  }
  .carousel-control-next {
    top: 36.6875rem;
    right: 1.5rem;
  }
}
.myWorksSection {
  margin: 3.125rem;
}
.myWorksSection p {
  width: 38.75rem;
  text-align: center;
}
.myWorksSection ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: none;
  gap: 0;
  width: 41.25rem;
  list-style-type: none;
}
.myWorksSection ul li a {
  color: #3c3040;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}
.myWorksSection ul li a:hover {
  color: #b290df;
  cursor: pointer;
}

.myWorksOne {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(2, 18.5125rem);
  gap: 2.5rem;
  grid-template-areas: "div, div, div" "div, div, div";
  justify-content: center;
  align-content: center;
  margin-bottom: 3.125rem;
}
.myWorksOne div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px #D2D5EC;
}
.myWorksOne div :hover {
  transform: scale(1.1);
}
.myWorksOne div h2 {
  font-family: "Roboto", sans-serif;
  color: #9B4EB2;
  font-size: 1.625rem;
  font-weight: 500;
  padding-bottom: 0.9375rem;
}
.myWorksOne div img {
  margin-top: 0.9375rem;
  width: 21.5625rem;
  height: 13.75rem;
}

.textContact {
  margin: 2.125rem;
  gap: 0.3125rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.125rem;
  margin-top: 4rem;
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4375rem;
  width: 66.25rem;
}
form div div {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  border-color: #C09AD9;
  border-radius: 0.625rem;
}
form div div div label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #3c3040;
  font-size: 1rem;
}
form div .buttonForm button {
  width: 18.125rem;
  height: 5.25rem;
  background-color: #C09AD9;
  border-color: #C09AD9;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  color: #3c3040;
  font-size: 1.5rem;
  font-weight: 700;
}
form div .buttonForm button:hover {
  background-color: #b290df;
  box-shadow: 0px 0px 40px #77607f;
  cursor: pointer;
}

@media (max-width: 1081px) {
  form div {
    width: 60.25rem;
  }
}
@media (max-width: 990px) {
  form {
    margin-top: 2rem;
  }
  form div {
    width: 55.25rem;
  }
}
@media (max-width: 910px) {
  form div {
    width: 45.25rem;
  }
}
@media (max-width: 744px) {
  form div {
    width: 40.25rem;
  }
}
@media (max-width: 660px) {
  form div {
    width: 30.25rem;
  }
  form div div {
    flex-direction: column;
    gap: 1.25rem;
  }
  form div div div label {
    font-size: 0.875rem;
  }
  form div .buttonForm button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  form div {
    width: 25.25rem;
  }
}
@media (max-width: 425px) {
  form div {
    width: 18.75rem;
  }
}
@media (max-width: 1313px) {
  div section {
    margin: 2.625rem 0rem 2.625rem 0rem;
  }
  div section div h2 {
    font-size: 3.125rem;
    width: 18.8125rem;
    height: 23.625rem;
  }
  div section .buttonsIndex {
    flex-direction: column;
    row-gap: 1.875rem;
  }
  div .photoMagali {
    padding-top: 5.75rem;
  }
  div .photoMagali img {
    width: 29.8931rem;
    height: 37.5rem;
  }
}
@media (max-width: 890px) {
  div section {
    margin: 3.4375rem 0rem 3.4375rem 0rem;
  }
  div section div h2 {
    margin: 2.5rem 0rem 2.5rem 0rem;
  }
  div section .buttonsIndex {
    flex-direction: row;
    gap: 8rem;
  }
  div .photoMagali {
    position: absolute;
    padding-left: 350px;
    padding-top: 80px;
  }
  div .photoMagali img {
    width: 22rem;
    height: 27.5625rem;
  }
}
@media (max-width: 768px) {
  div section div h2 {
    font-size: 45px;
  }
  div section .buttonsIndex {
    gap: 0.9375rem;
  }
  div .photoMagali {
    padding-left: 300px;
    padding-top: 100px;
  }
  div .photoMagali img {
    width: 18.75rem;
    height: 23.4906rem;
  }
}
@media (max-width: 630px) {
  div section div h4 {
    width: 7.0313rem;
    height: 2.3438rem;
    font-size: 0.9375rem;
    border-radius: 0.3906rem;
    padding-top: 0.5rem;
  }
  div section div h2 {
    font-size: 1.5625rem;
    width: 14.375rem;
    height: 5.875rem;
    margin: 1.875rem 0rem 1.875rem 2.5rem;
    text-align: center;
  }
  div section .buttonsIndex {
    gap: 15px;
  }
  div section .buttonsIndex button {
    width: 9.0625rem;
    height: 2.625rem;
    border-radius: 0.5rem;
  }
  div section .buttonsIndex button a {
    font-size: 0.75rem;
  }
  div .photoMagali {
    display: none;
  }
}
@media (max-width: 1314px) {
  .sectionOneAbout {
    gap: 5.9375rem;
  }
  .sectionOneAbout div {
    width: 29.6875rem;
  }
  .designSkills {
    gap: 2rem;
  }
  .designSkills .textSkills .tools {
    width: 31.75rem;
  }
  .designSkills .cardsSkills {
    gap: 1rem;
  }
  .designSkills .cardsSkills .cardsOneTwo {
    gap: 1rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 13.3125rem;
    height: 10.5625rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA img, .designSkills .cardsSkills .cardsOneTwo .cardB img {
    height: 5rem;
    width: 5rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 13.3125rem;
    height: 10.5625rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 1023px) {
  .sectionOneAbout {
    gap: 1.875rem;
  }
  .sectionOneAbout div {
    width: 400px;
  }
  .designSkills {
    flex-direction: column;
    gap: 3.125rem;
  }
  .designSkills .textSkills {
    align-items: center;
  }
  .designSkills .textSkills h2 {
    text-align: center;
  }
  .designSkills .textSkills .tools {
    width: 50rem;
  }
  .designSkills .textSkills .followMeHere {
    width: 50rem;
  }
  .designSkills .textSkills .followMeHere .socialMedia a {
    font-size: 1.25rem;
  }
  .designSkills .cardsSkills {
    gap: 0.9375rem;
  }
  .designSkills .cardsSkills .cardsOneTwo {
    flex-direction: row;
    gap: 0.9375rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 200px;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA h3, .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 1rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 200px;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 1rem;
  }
}
@media (max-width: 860px) {
  .sectionOneAbout img {
    display: none;
  }
  .sectionOneAbout div {
    width: 36.875rem;
  }
  .sectionOneAbout div .aboutMe h2 {
    font-size: 1.875rem;
  }
  .designSkills .textSkills h2 {
    font-size: 1.875rem;
  }
  .designSkills .textSkills .tools {
    width: 36.875rem;
  }
  .designSkills .textSkills .followMeHere {
    width: 36.875rem;
  }
  .designSkills .cardsSkills {
    justify-content: center;
  }
  .designSkills .cardsSkills .cardsOneTwo {
    flex-direction: column;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 16.1875rem;
    height: 13.6875rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA h3, .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 1.5rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 16.1875rem;
    height: 13.6875rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    width: 12.5rem;
  }
}
@media (max-width: 630px) {
  .sectionOneAbout {
    padding-top: 1.875rem;
  }
  .sectionOneAbout div {
    width: 20.4375rem;
  }
  .sectionOneAbout div .aboutMe h2 {
    font-size: 1.5rem;
    width: 20.4375rem;
  }
  .sectionOneAbout div .aboutMe p {
    font-size: 1rem;
  }
  .sectionOneAbout div button {
    width: 12.5rem;
    height: 2.625rem;
    border-radius: 0.5rem;
    margin-top: 1.5625rem;
  }
  .sectionOneAbout div button a {
    font-size: 0.75rem;
  }
  .designSkills .textSkills h2 {
    font-size: 1.5rem;
  }
  .designSkills .textSkills .tools {
    width: 20.4375rem;
  }
  .designSkills .textSkills .followMeHere {
    width: 20.4375rem;
  }
  .designSkills .textSkills .followMeHere .socialMedia img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .designSkills .textSkills .followMeHere .socialMedia a {
    font-size: 0.75rem;
  }
  .designSkills .cardsSkills {
    gap: 1rem;
  }
  .designSkills .cardsSkills .cardsOneTwo {
    gap: 1rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 11.875rem;
    height: 9.3125rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA h3, .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 1.25rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 11.875rem;
    height: 9.3125rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    width: 8.75rem;
    font-size: 1.125rem;
  }
}
@media (max-width: 425px) {
  .sectionOneAbout {
    padding-top: 1.875rem;
  }
  .sectionOneAbout div {
    width: 16.875rem;
  }
  .sectionOneAbout div .aboutMe h3 {
    font-size: 0.75rem;
  }
  .sectionOneAbout div .aboutMe h2 {
    font-size: 1.125rem;
    width: 16.875rem;
  }
  .sectionOneAbout div .aboutMe h4 {
    font-size: 0.75rem;
  }
  .sectionOneAbout div .aboutMe p {
    font-size: 0.75rem;
  }
  .designSkills {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
  .designSkills .textSkills h2 {
    font-size: 1.125rem;
    padding-bottom: 1.25rem;
  }
  .designSkills .textSkills .tools {
    width: 16.875rem;
  }
  .designSkills .textSkills .followMeHere {
    width: 16.875rem;
    gap: 0.9375rem;
  }
  .designSkills .textSkills .followMeHere h3 {
    font-size: 1rem;
    padding-top: 1.25rem;
  }
  .designSkills .textSkills .followMeHere .socialMedia img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .designSkills .textSkills .followMeHere .socialMedia a {
    font-size: 0.625rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA, .designSkills .cardsSkills .cardsOneTwo .cardB {
    gap: 0.875rem;
    width: 8.125rem;
    height: 6.875rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA img, .designSkills .cardsSkills .cardsOneTwo .cardB img {
    height: 3.75rem;
    width: 3.75rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardA h3, .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    font-size: 0.75rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB {
    width: 8.125rem;
    height: 6.875rem;
  }
  .designSkills .cardsSkills .cardsOneTwo .cardB h3 {
    width: 7.5rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 1314px) {
  .myWorksOne {
    grid-template-columns: repeat(3, 17.5rem);
    grid-template-rows: repeat(2, 246px);
  }
  .myWorksOne div h2 {
    font-size: 1.1875rem;
  }
  .myWorksOne div img {
    width: 15.1563rem;
    height: 9.6687rem;
  }
}
@media (max-width: 940px) {
  .myWorksOne {
    grid-template-columns: repeat(2, 18.75rem);
    grid-template-rows: repeat(3, 16.4063rem);
  }
  .myWorksOne div h2 {
    font-size: 1.25rem;
  }
  .myWorksOne div img {
    width: 16.1719rem;
    height: 10.3125rem;
  }
}
@media (max-width: 700px) {
  .myWorksSection ul {
    width: 32.5rem;
  }
  .myWorksOne {
    gap: 1.25rem;
  }
}
@media (max-width: 650px) {
  .myWorksSection {
    gap: 1.25rem;
  }
  .myWorksSection h1 {
    font-size: 1.875rem;
  }
  .myWorksSection p {
    width: 29.6875rem;
  }
  .myWorksSection ul {
    width: 29.6875rem;
  }
  .myWorksOne {
    grid-template-columns: repeat(2, 14.0625rem);
    grid-template-rows: repeat(3, 12.305rem);
  }
  .myWorksOne div h2 {
    font-size: 1rem;
  }
  .myWorksOne div img {
    width: 12.125rem;
    height: 7.7344rem;
  }
}
@media (max-width: 500px) {
  .myWorksSection {
    gap: 0.9375rem;
  }
  .myWorksSection h1 {
    width: 300px;
    font-size: 1.25rem;
  }
  .myWorksSection p {
    font-size: 0.875rem;
    width: 19.375rem;
  }
  .myWorksSection ul {
    width: 19.375rem;
  }
  .myWorksSection ul li a {
    font-size: 0.875rem;
  }
  .myWorksOne {
    grid-template-columns: repeat(1, 18rem);
    grid-template-rows: repeat(6, 8.0625rem);
  }
  .myWorksOne div {
    align-items: center;
    flex-direction: row;
  }
  .myWorksOne div h2 {
    width: 6.8125rem;
    padding-bottom: 0px;
    font-size: 1rem;
  }
  .myWorksOne div img {
    margin-top: 0px;
    width: 9.375rem;
    height: 6.0169rem;
  }
}
@media (max-width: 625px) {
  .sectionOneCert, .myWorksSection, .textContact {
    gap: 0.9375rem;
  }
  .sectionOneCert h1, .myWorksSection h1, .textContact h1 {
    width: 300px;
    font-size: 1.25rem;
  }
  .sectionOneCert p, .myWorksSection p, .textContact p {
    font-size: 0.875rem;
    width: 19.375rem;
  }
}
footer {
  width: 100%;
  height: 9.375rem;
  background-color: #F2A7D0;
  display: flex;
  justify-content: center;
}
footer div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
footer div ul {
  display: flex;
  justify-content: center;
}
footer div ul li {
  display: flex;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  justify-content: center;
}
footer div p {
  color: #3c3040;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 425px) {
  footer {
    height: 4.75rem;
  }
  footer div ul li {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  footer div ul li img {
    width: 1rem;
    height: 1rem;
  }
  footer div p {
    font-size: 0.625rem;
  }
}

/*# sourceMappingURL=style.css.map */
