
    .sectionOneCert{
        @include flex (column,nowrap,center,center,1.5625rem);
        font-family: $tipografia-principal;
        color: $color-texto;
        margin-top: 3.125rem;
        text-align: center;
        h2{
            font-size: 1.25rem;
            font-weight: 400;
        }
        h1{
            font-size: 2.5rem;
            font-weight: 700;
            width: 26.25rem;
        }
        p{
            font-size: 1.25rem;
            font-weight: 400;
            width: 37.5rem;
        }
    }