.sectionOneAbout{
    font-family: $tipografia-principal;
    color: $color-texto;
    @include flex(row,nowrap,center,center,9.375rem);
    padding-top: 3.125rem;
    div{
        @include flex (column,nowrap,center,center,0);
        width: 41.25rem;
        .aboutMe{
            h3{
                font-size: 1.25rem;
                font-weight: 400;
            }
            h2{
                font-size: 2.5rem;
                font-weight: 700;
                width: 26.25rem;
                text-align: center;
            }
            h4{
                font-size: 1rem;
                font-weight: 400;
                padding-top: .9375rem;
                padding-bottom: .9375rem;
            }
            p{
                font-size: 1.25rem;
                font-weight: 400;
            }
            
        }
        button{
            width: 20.0625rem;
            height: 5.25rem;
            background: $button-color;
            border-color: $button-color;
            border-radius: 1rem;
            margin-top: .9375rem;
            &:hover {
                background-color: #b290df;
                box-shadow: 0px 0px 40px #77607f;
                cursor: pointer;
            }
            a{
                font-family: $tipografia-principal;
                color: $color-texto;
                font-size: 1.5rem;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}
.designSkills{
    font-family: $tipografia-principal;
    color: $color-texto;
    @include flex (row,nowrap,center,center,7.125rem);
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    .textSkills{
        @include flex(column,nowrap,none,none,0);
        h2{
            font-size: 2.5rem;
            font-weight: 700;
            width: 20.625rem;
            padding-bottom: 1.875rem;
        }
        .followMeHere{
            display: flex;
            flex-direction: column;
            gap: 1.4375rem;
            h3{
                font-size: 1.5rem;
                padding-top: 2.5rem;
            }
            .socialMedia{
                @include flex(row,nowrap,space-between,center,0);
                a{
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 400;
                    &:hover {
                        color: #b290df;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .cardsSkills{
        @include flex (row,nowrap,none,none,2.5rem);
        .cardsOneTwo{
            @include flex (column,nowrap,none,center,1.5625rem);
            .cardA{
                @include flex (column,nowrap,none,center,1.875rem);
                gap: 1.875rem;
                background-color: #ffffff;
                width: 16.1875rem;
                height: 13.6875rem;
                box-shadow: 0px 0px 2.5rem #D2D5EC;
            }
            img{
                height: 5rem;
                width: 5rem;
            }
            h3{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .cardB{
                @extend .cardA;
                background-color: #F2C9D4;
                h3{
                    width: 12.5rem;
                }
            }
        }
    }
}
