@media (max-width: 625px) {
    .sectionOneCert{
        gap: .9375rem;
        h1{
            width: 300px;
            font-size: 1.25rem;
        }
        p{
            font-size: .875rem;
            width: 19.375rem;
        }
    
    }
}
